/* caption */
.caption>.tag:not(:empty) {
    margin-right: var(--length-space);
}

.plain.caption>.tag,
.plain>.caption>.tag {
    display: none;
}

div>.caption:first-child>.tag {
    text-transform: capitalize;
}

.caption>.desc:not(:empty)::before {
    content: "(";
    margin-left: var(--length-space);
}

.caption>.desc:not(:empty)::after {
    content: ")";
}

.plain.caption>.desc,
.plain>.caption>.desc {
    display: none;
}

.caption+.content:not(:empty)::before {
    content: "";
    margin-left: var(--length-gap);
}

.caption+.content>div:first-child {
    display: inline;
}

/* code */
.unit.code>.line {
    white-space: pre;
}

.unit.code>.line>.content {
    display: inline-block;
    white-space: pre-wrap;
}

.unit.code>.line>.content>*::after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
}

/* contents */
.unit.contents::before {
    content: "Contents";
    text-align: center;
    display: block;
    font-size: var(--length-font-heading);
    margin: var(--length-gap) 0;
}

.unit.contents>.item.level1 {
    font-size: calc((1em + var(--length-font-heading)) / 2);
    margin: var(--length-space) 0;
}

.unit.contents>.item:not(.level1) {
    margin-left: var(--length-tab);
}

.unit.contents>.item:not(.level1):not(.level2) {
    margin-left: calc(2 * var(--length-tab));
}

/* display */
.unit.display {
    margin: var(--length-space) 0;
    text-align: center;
    display: block;
}

/* equation */
.unit.equation {
    margin: var(--length-space) 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    break-inside: avoid;
}

.unit.equation>.content {
    text-align: center;
    grid-area: 1/2/span 1/span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unit.equation>.caption {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: 1/3/span 1/span 1;
    padding-left: var(--length-gap);
}

/* figure */
.unit.figure {
    text-align: center;
    margin: var(--length-space) 0;
}

.unit.figure>.caption {
    display: block;
    margin: var(--length-space) 0;
}

.unit.figure>.caption>.tag {
    text-transform: capitalize;
    font-weight: bold;
}

.unit.figure>.caption>.mark {
    font-weight: bold;
}

/* heading */
.unit.heading {
    font-size: var(--length-font-heading);
    margin: var(--length-gap) 0;
    break-inside: avoid;
}

.heading>.caption>.tag {
    display: none;
}

.heading>.caption>.desc {
    display: none;
}

/* proof */
.unit.proof {
    margin: var(--length-gap) 0;
}

.unit.proof>.caption>.tag {
    font-weight: bold;
    font-style: italic;
}

.unit.proof>.content>div:last-child>.qed {
    float: right;
}

/* theorem */
.unit.theorem {
    border-left: var(--color-variable) solid 1px;
    background-color: var(--color-pre);
    margin: var(--length-gap) 0;
    padding: var(--length-gap);
    padding-left: var(--length-padding);
    display: table;
    box-sizing: border-box;
    width: 100%;
    break-inside: avoid;
}

.unit.definition {
    border-left-color: var(--color-string);
}

.unit.remark {
    border-left-color: var(--color-comment);
}

.unit.theorem>.caption>.tag,
.unit.theorem>.caption>.mark {
    font-weight: bold;
}

.unit.remark>.caption>.tag,
.unit.remark>.caption>.mark {
    font-style: italic;
}

.unit.theorem:not(.definition):not(.remark)>.content {
    font-style: italic;
}

/* title */
.unit.title {
    text-align: center;
    font-size: var(--length-font-title);
    margin: var(--length-padding) 0;
}

/* warn */
.unit.warn {
    color: var(--color-warn);
    text-align: center;
}